html {
	width: 100%;
}
body {
	width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 5%;
}
.lightgray {
	color: #ccc;
}
.console, .directories {
	margin-top: 24px;
}
.dropdown {
	display: inline-block;
}
button {
	margin-top: 8px;
}
.directories {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 16px;
}
.file {
	margin: 8px 38px;
}
h3 .glyphicon {
	margin-right: 8px;
}
button .glyphicon {
	margin-left: 8px;
}